@using (Html.BeginForm())
{
<div class="outer-box">
    <div class="login-box">

      
        <input type="text" name="name" class="form-control" placeholder="Adı Soyadı" />
        <input type="text" name="kimlikNo" class="form-control" placeholder="Kimlik No">
        <input type="text" name="babaadı" class="form-control" placeholder="Baba Adı" />
        <input type="text" name="anneadı" class="form-control" placeholder="Anne Adı">
        <input type="text" name="dogumtarihi" class="form-control" placeholder="Dogum Tarihi" />
        <input type="text" name="dogumyeri" class="form-control" placeholder="Dogum Yeri">
        <input type="text" name="cinsiyet" class="form-control" placeholder="Cinsiyet" />
        <input type="text" name="boy" class="form-control" placeholder="Boy">
        <input type="text" name="kilo" class="form-control" placeholder="Kilo" />
        <input type="text" name="meslek" class="form-control" placeholder="Meslek">
        <input type="text" name="kayıttarihi" class="form-control" placeholder="Kayıt Tarihi" />
        <input type="text" name="il" class="form-control" placeholder="Il">
        <input type="text" name="ilçe" class="form-control" placeholder="Ilce" />
        <input type="text" name="adres" class="form-control" placeholder="Adres">
        <input type="text" name="evTel" class="form-control" placeholder="Ev Telefonu" />
        <input type="text" name="ceptel" class="form-control" placeholder="Cep Telefonu">
        <input type="text" name="email" class="form-control" placeholder="E-Mail" />
        <input type="text" name="sosguvkur" class="form-control" placeholder="Sosyal Guvenlik Kurumu" />
        <input type="text" name="sigara" class="form-control" placeholder="Sigara" />
        <input type="text" name="alkol" class="form-control" placeholder="Alkol">
        <input type="text" name="kangrubu" class="form-control" placeholder="Kan Grubu" />
        <input type="text" name="hepatit" class="form-control" placeholder="Hepatit">
        <input type="text" name="hıv" class="form-control" placeholder="HIV" />
        <input type="text" name="diyabet" class="form-control" placeholder="Diyabet">
        <input type="text" name="kullandigilac" class="form-control" placeholder="Kullandığı İlaçlar" />
        <input type="text" name="gecmishastalıklar" class="form-control" placeholder="Gecmis Hastalıkları">
        <input type="text" name="ailehastalıkları" class="form-control" placeholder="Aile Hastalıkları" />
        <input type="text" name="gecmisameliyat" class="form-control" placeholder="Gecmis Ameliyatları">
        <input type="text" name="sakinhakkında" class="form-control" placeholder="Sakin Hakkinda" />



        <button id="btn-login">Kaydet</button>

    </div>

</div>
}