@using (Html.BeginForm())
{
<div class="outer-box">
    <div class="login-box">

        <input type="text" name="ziyaretcikodu" class="form-control" placeholder="Ziyaretçi Kodu" />

        <button id="btn-login">Sec</button>

        <input type="text" name="name" class="form-control" placeholder="Adı Soyadı" />
        <input type="text" name="kimlikNo" class="form-control" placeholder="Kimlik No">

        <button id="btn-login">Sil</button>

    </div>

</div>}