@using (Html.BeginForm())
{
<div class="outer-box">
    <div class="login-box">

        <input type="text" name="ziyaretcikodu" class="form-control" placeholder="Ziyaretçi Kodu" />

        <button id="btn-login">Sec</button>
        <input type="text" name="name" class="form-control" placeholder="Adı Soyadı" />
        <input type="text" name="kimlikNo" class="form-control" placeholder="Kimlik No">
        <input type="text" name="adres" class="form-control" placeholder="Adres">
        <input type="text" name="yakinlik" class="form-control" placeholder="Yakınlık" />
        <input type="text" name="ziyaretTarihi" class="form-control" placeholder="Ziyaret Tarihi" />



        <button id="btn-login">Kaydet</button>

    </div>

</div>}